 <footer class="navbar-fixed-bottom container">
      <div class="container clearfix">
        <p class="pull-left">
          Copyright &copy; Jack Croft 2014
        </p>
        <p class="pull-right">
          
        </p>
      </div> <!-- /.container -->
    </footer>
